body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}
.container{
  height: calc(100vh - 50px);
  background-color: tomato;
  padding-top: 20px;
  box-sizing: border-box;
  font-family:  Arial, Helvetica, sans-serif;
}
  a {
    text-decoration: none;
    color: wheat;
    font-size: 17px;
  }
  .navContainer {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    gap: 20%;
  }
  .quote-container {
    margin-top: 6%;
    background-color: wheat;
    width: 40%;
    margin-left: 30%;
    height: auto;
    border-radius: 2rem;
  }
  .quote-container button {
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(20, 173, 20);
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  @media (max-width: 767px){
    .quote-container{
      width: 100%;
      margin-left: 0;
    }
    .navContainer{
      width: 100%;
      gap: 2%;
    }
  }
  @media (min-width: 768px) and (max-width: 1217px){
    .quote-container{
      width: 60%;
      margin-left: 20%;
    }
    .navContainer{
      gap: 10%;
    }
  }