.container4{
    height: calc(100vh - 50px);
    padding-top: 20px;
    background-image: url(../../assets/stoic.png);
    background-size: cover;
    box-sizing: border-box;
}
.stoic-container{
  
        margin-left: 30%;
        width: 40%;
        margin-top: 10%;
        background-color: darkslateblue;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        border-radius: 100px;
        font-size: 20px;
   
}
.stoic-container button {
    width: 120px;
    background-color: rgb(32, 26, 78);
    color: white;
    cursor: pointer;
    height: 25px;
    border-radius: 20px;
    border: none;
}

@media (max-width: 767px){
    .stoic-container{
        width: 100%;
        margin-left: 0;
        border-radius: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1217px){
    .stoic-container{
        width: 60%;
        margin-left: 20%;
        border-radius: 50px;
    }
}